{% extends 'base.html.twig' %}

{% block title %}Symfony Blog{% endblock %}

{% block body %}
    <hr>
    <a href="{{ path('homepage') }}"><< Main page</a>
    <hr>
    <h3>History</h3>
    <hr>
    {% for post in posts|reverse %}
        <h5> <a href="{{ path('post_show', {'id': post.id}) }}">{{ post.postHead }}</a></h5>
        <p>{{ post.postedAt|date("d.m.Y h:i:s A") }}</p>
        <p>{{ post.shortBodyCheat|nl2br }}</p>
        <hr>
    {% endfor %}

{% endblock %}